
.about-wrap {
  padding-bottom: 100px;
  display: flex;
  flex-flow: column;
  background: url("../img/about/about_bg.jpg") top no-repeat;
  background-size: auto;
  background-attachment: fixed;
  width: 100%;
}
.about__title {
  &__wrap {
    padding: 0px 10px;
    max-width: 1070px;
    text-align: center;
    margin: 20vh auto 60px; /*20vh Эквивалентно 20% высоты окна браузера.*/
  }
  &__headline {
    padding: 30px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__paragraph_2 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 60px;
  }
  &__button {
    background-color: #b4ae56;
    border-radius: 5px;
    padding: 16px;
    width: 275px;
    color: #ffd9cc;
    border: 0;
  }
}
.about-list-wrap {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}
.about-list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 45px 25px;
  border-radius: 5px;
  max-width: 23%;
  flex-basis: 100%; /*в процентах вдоль главной оси. При этом размер вычисляется относительно родителя.*/
  background-color: #554553;
  opacity: 0.7;
  margin: 10px;

  &_image_avatar {
  }
  &_headline {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 35px 0 50px;
  }
  &_position {
    color: #a1ca6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 30px;
  }
  &-social-wrap {

    width: 200px;
    display: inline-flex;
    flex-direction: column ;
    align-items: center;
    ul li {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      border: 3px solid #D8E2DC;
      float: left;
      transition: all 0.5s ease;
    }
    ul li .fa {
      color: #D8E2DC;
      /*margin-top: 20px;*/
      transition: all 0.5s ease;
    }
    ul li:hover.facebook {
      border: 5px solid #3b5998;
      box-shadow: 0 0 15px #3b5998;
      transition: all 0.5s ease;
    }
    ul li:hover .fa-facebook {
      color: #3b5998;
      text-shadow: 0 0 15px #3b5998;
      transition: all 0.5s ease;
    }
    ul li:hover.twitter {
      border: 5px solid #00aced;
      box-shadow: 0 0 15px #00aced;
      transition: all 0.5s ease;
    }
    ul li:hover .fa-twitter {
      color: #00aced;
      text-shadow: 0 0 15px #00aced;
      transition: all 0.5s ease;
    }
    ul li:hover.google {
      border: 5px solid #00aced;
      box-shadow: 0 0 15px #00aced;
      transition: all 0.5s ease;
    }

     ul li:hover .fa-google {
      color: #00aced;
      text-shadow: 0 0 15px #00aced;
      transition: all 0.5s ease;
    }
    ul li:hover.linkedin {
      border: 5px solid #00aced;
      box-shadow: 0 0 15px #00aced;
      transition: all 0.5s ease;
    }

    ul li:hover .fa-linkedin {
      color: #00aced;
      text-shadow: 0 0 15px #00aced;
      transition: all 0.5s ease;
    }
  }
  .fa {
    color: #fff;
  }
 }

@media only screen and (min-width: 576px) {
  .about-list-block_headline {
    font-size: 24px;
  }
  .services-list-block {
    flex-basis: 48%;
    margin-top: 30px;
  }

}